body {
	color: maroon; 
	background-image:url(./background.jpg);
	background-position: center 40%;
	background-repeat: no-repeat;
}

input[type="text"]{
	position: absolute;
	border: solid 2px brown;
	border-radius: 10px;
	width: 20%;
	left: 40%;
	height: 10%;
	top: 35%;
	font-size:x-large;
}

input[type="password"]{
	position: absolute;
	border: solid 2px brown;
	border-radius: 10px;
	width: 20%;
	height: 10%;
	left: 40%;
	top: 50%;
	font-size:x-large;
}

input[type="submit"]{
	position: absolute;
	border-radius: 10px;
	top: 63%;
	width: 20%;
	left: 40%;
	height: 5%;
}

div[type="new_user"]{
	position:absolute;
	top:70%;
	left:40.4%;

}

div[type="headline"]{
	font-size:900%;
	text-align: center;
}

div[type="border"]{
	position:absolute;
	background-color:white;
	border: solid 4px brown;
	border-radius: 10px;
	height: 46%;
	width: 25%;
	left:37.5%;
	top: 30%;
}

span {
    display: inline-block;
    width:40%;
}